:root {
  --primary-color: indigo;
  --secondary-color: teal;
  --grey: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

button {
  padding: 8px 16px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 2px var(--grey);
  transition: 300ms;
  font-weight: 700;
  text-transform: uppercase;
}

button:hover {
  box-shadow: 4px 4px 2px var(--grey);
}

input,
select {
  background: #fff;
  border: solid 2px var(--grey);
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.primary-btn {
  background: var(--primary-color);
}
.secondary-btn {
  background: var(--secondary-color);
}

.dialog {
  display: none;
  position: fixed;
  inset: 0;
  grid-template-columns: minmax(16px, 1fr) minmax(300px, auto) minmax(16px, 1fr);
  grid-template-rows: minmax(16px, 1fr) auto minmax(16px, 1fr);
  background: var(--grey);
}

.dialog[data-is-open="true"] {
  display: grid;
}

.dialog [class*="dialog"] {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.dialog-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
